{
  "version": "0.0.1",
  "configurations": [
    {
      "name": "app",
      "runtimeExecutable": "npm",
      "runtimeArgs": ["--prefix", "frontend", "run", "dev"],
      "port": ${FRONTEND_PORT}
    },
    {
      "name": "dashboard",
      "runtimeExecutable": "npm",
      "runtimeArgs": ["--prefix", "tools/dev-dashboard", "run", "dashboard"],
      "port": ${DASHBOARD_PORT}
    }
  ]
}
